header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: all ease 0.5s;
}

header.black{
    background-color: #141414;
}